// Grid
.grid {
    display: grid;
    gap: $content-padding;
    
    &--2col {
      grid-template-columns: repeat(2, 1fr);

    }
    
    &--3col {
      grid-template-columns: repeat(3, 1fr);

    }
    
    &--4col {
      grid-template-columns: repeat(4, 1fr);
      
    }
  }